/* Big tablets and above - 1024px to 1200px */

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 3%;
    }
    .row {
        padding: 0 3%;
    }
}

/* Small tablets to big tablets - 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .icon-big {
        text-align: inherit;
    }
    /* steps section */
    .steps-box:first-child,
    .steps-box:last-child {
        margin-top: 10px;
    }
    .works-step {
        margin-bottom: 40px;
    }
    .works-step:last-of-type {
        margin-bottom: 60px;
    }
    .app-screen {
        width: 50%;
    }
    /* cities section */
    .icon-small {
        width: 16px;
        margin-right: 5px;
    }
    .city-feature {
        font-size: 0.9em;
    }
    /* plans section */
    .plan-box {
        width: 100%;
        margin-left: 0;
    }
    .plan-price {
        font-size: 2.5em;
    }
    /* contact form section */
    .contact-form {
        width: 80%;
    }
}

/* Small phones to small tablets - 481px to 767px */

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    .long-copy {
        width: 100%;
        margin-left: 0;
    }
    /* responsive navigation */
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 5px;
        display: none;
    }
    .main-nav.nav--visible {
        display: block;
    }
    .main-nav li {
        display: block;
        margin-left: 20px;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        padding: 5px 0;
        font-size: 1.2em;
    }
    .ham-btn {
        display: flex;
    }
    /* sticky nav */
    .sticky-nav .main-nav {
        float: left;
        margin-top: 10px;
        margin-left: 5px;
    }
    .sticky-nav .main-nav li {
        display: block;
        margin-left: 20px;
    }
    .sticky-nav .main-nav li a:link,
    .sticky-nav .main-nav li a:visited {
        display: block;
        padding: 5px 0;
        font-size: 1em;
    }
    .sticky-nav .ham-btn {
        margin-top: 14px;
    }
    /* steps section */
    .app-screen {
        width: 35%;
    }
    .works-step {
        margin-bottom: 20px;
    }
    .works-step:last-of-type {
        margin-bottom: 20px;
    }
    .works-step div {
        height: 35px;
        width: 35px;
        padding: 3px;
        font-size: 1.2em;
        margin-right: 15px;
    }
    .works-step p {
        padding-top: 0.3em;
    }
    .steps-box:first-child {
        text-align: center;
    }
    .steps-box a img {
        height: 45px;
    }
    /* footer section */
    ul.social-links {
        float: left;
    }
    
}

/* Small phones - from 0px to 480px */

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
    /* header section */
    .logo {
        height: 50px;
        margin-top: 16px;
    }
    .ham-btn {
        margin-top: 20px;
    }
    /* meals photos section */
    .meals-showcase li {
        width: 50%;
    }
    /* steps section */
    .works-step p {
        padding-top: 0;
    }
    .steps-box a img {
        height: 40px;
    }
    /* contact section */
    .contact-form {
        width: 100%;
    }
    /* footer section */
    footer {
        padding: 25px;
    }
    footer .row > div, footer ul {
        width: 100%;
    }
    ul.social-links {
        text-align: center;
    }
    footer ul li {
        margin-bottom: 5px;
    }
    footer .row p {
        margin-top: 5px;
    }
}